# phpstorm project files
.idea

# netbeans project files
nbproject/*

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# Docker Compose
docker-compose.override.yml

###> @composer ###
/vendor/
composer.lock
###< @composer ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache
/.phpunit.result.cache
###< phpunit/phpunit ###
